{% extends 'books/base.html' %}
{% load book_filters %}

{% block content %}
<h1>Books</h1>

<!-- Temporarily output raw context data for debugging -->
<pre>{{ books|safe }}</pre>
<pre>Num found: {{ numFound }}</pre>
<pre>Error: {{ error }}</pre>

<form action="{% url 'book-list' %}" method="get">
    <input type="text" name="query" value="{{ query }}" placeholder="Search for books...">
    <button type="submit">Search</button>
</form>

{% for book in books %}
<div class="col-md-4 mb-3">
    <div class="card" style="width: 18rem;">
        <pre>OpenLibrary ID: {{ book.openlibrary_id }}</pre>

        {% if book.cover_i %}
        <img src="http://covers.openlibrary.org/b/id/{{ book.cover_i }}-L.jpg" class="card-img-top" alt="Cover image of {{ book.title }}">
        {% else %}
        <img src="https://via.placeholder.com/150" class="card-img-top" alt="Default cover image">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ book.title }}</h5>
            {% if book.author_name %}
            <p class="card-text">Author: {{ book.author_name|join:", " }}</p>
            {% else %}
            <p class="card-text">Author information not available</p>
            {% endif %}
            
            <!-- Here, you might need to adjust the URL for 'More Details' based on how your URL routing is set up for book details -->
            <a href="{% url 'book-detail' book.openlibrary_id %}" class="btn btn-primary">More Details</a>
        </div>
    </div>
</div>
{% empty %}
<p>No books found{% if query %} for "{{ query }}"{% endif %}.</p>
{% endfor %}

<!-- Pagination -->
<div class="pagination">
    {% if has_previous %}
    <!-- Use the 'query' variable from the context -->
    <a href="?page={{ previous_page }}&query={{ query }}" class="btn btn-light">Previous</a>
    {% endif %}
    {% if has_next %}
    <!-- Use the 'query' variable from the context -->
    <a href="?page={{ next_page }}&query={{ query }}" class="btn btn-light">Next</a>
    {% endif %}
</div>



{% endblock %}
